<h1> My salutes </h1>

<%= current_user.username %>

<%= form_for @salute, html: { id: "new_salute_form" }  do |form|  %>

  <%= form.collection_select(:receiver_id, User.all, :id, :username) %>
  <%= form.submit "Salute" %>

  
<% end %>
<ul>
  <%= render @salutes %>
</ul>
