<!DOCTYPE html>
<html>
<head>
  <title>Salutr</title>

<script src="//js.pusher.com/2.2/pusher.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

 
  </head>
<body>

<% if signed_in? %>
  <%= link_to "Sign out", :session, method: :delete %>
  <script>
window.CHANNEL = "<%= current_user.id %>";
window.PUSHER = "<%= ENV['PUSHER_APP_KEY'] %>";
</script>
<% else %>
  <%= link_to "Sign in", [:new, :session] %>
  <%= link_to "Sign up", [:new, :user] %>
<% end %><%= yield %>


</body>
</html>
